html {
    scroll-snap-type: y mandatory;
}

body {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.confetti {
    max-width: 100%;
    position: absolute;
    z-index: 2000;
    border: none;
    pointer-events: none;
}

.winner-name {
    color: blue;
}